# AAP Connection
AAP_HOST_URL={{ ssap_aap_url }}
AAP_OAUTH_CLIENT_ID={{ ssap_aap_oauth_client_id }}
AAP_CHECK_SSL={{ ssap_aap_check_ssl | lower }}
AAP_TOKEN={{ ssap_aap_admin_token }}
AAP_OAUTH_CLIENT_SECRET={{ ssap_aap_oauth_client_secret }}

# Security
BACKEND_SECRET={{ ssap_backend_secret }}

# Portal Environment
PORTAL_ENVIRONMENT={{ ssap_portal_environment }}

# Database
USE_EXTERNAL_POSTGRES={{ ssap_use_external_postgres | lower }}
POSTGRESQL_HOST={{ ssap_postgresql_host }}
POSTGRESQL_PORT={{ ssap_postgresql_port }}
POSTGRESQL_DATABASE={{ ssap_postgresql_database }}
POSTGRESQL_USER={{ ssap_postgresql_user }}
POSTGRESQL_PASSWORD={{ ssap_postgresql_password }}
POSTGRESQL_ADMIN_PASSWORD={{ ssap_postgresql_admin_password }}

# Network
BASE_URL={{ ssap_base_url }}
PORTAL_HOST_PORT={{ ssap_portal_host_port }}
NODE_TLS_REJECT_UNAUTHORIZED=0
